* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .header {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin-bottom: 1rem;
    background:blue;
    object-fit: fill;
    color: #fff;
  }

  button{
    padding: 10px;
    border-radius: 50px;
    border-style: none;
    color: white;
    background-color: red;
    cursor: pointer;
  }
  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .icons {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    justify-content: center;
  
  }
  .header__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .header__nav li {
    display: inline-block;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }


  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}
  
  .content-table thead tr {
    background-color:blue;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid blue;
  }
  
  

  tr:hover{
    background-color: red;
  }
  
  label{
    margin: 20px;
    display:flexbox;
  }

  select{
    padding: 10px;
    border-radius: 50px;
    border-color: blue;
    cursor: pointer;
  }
  input[type="button"] {
    transition: all .3s;
      border: 1px solid #ddd;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
    font-size: 15px;
  }
  
  input[type="button"]:not(.active) {
    background-color:transparent;
  }
  
  .active {
    background-color: #ff4d4d;
    color :#fff;
  }
  
  input[type="button"]:hover:not(.active) {
    background-color: #ddd;
  }