
.upload{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    padding:20rem;
    margin:auto;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}