div{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    gap: 10px;

}
.upload{
    padding-top: 20rem;
}

select{
    padding: 1rem;
    border-radius: 10px;
    border-color: blue;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}

input{
    padding: 1rem;
    border: 1px solid;
}