<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/table.css">
    <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <header class="header">
    <h1 class="logo">Nsrit</h1>

    <div class="header__nav">
        <nav>
            <ul class="icons">
                <li>Hello user</li>
                <li><button>Login</button></li>
                <li><button>Mail logs</button></li>
                 </ul>
        </nav>
    </div>
</header> 

<label for="year-selection">Choose a year:</label>
<select name="year" id="year">
  <option value="one">1</option>
  <option value="two">2</option>
  <option value="three">3</option>
  <option value="four">4</option>
</select>

<label for="branch-selection">Choose a branch:</label>
<select name="branch" id="branch">
  <option value="cse">CSE</option>
  <option value="ece">ECE</option>
  <option value="eee">EEE</option>
  <option value="mech">MECH</option>
  <option value="civil">CIVIL</option>
</select>

<label for="sem-selection">Choose a sem:</label>
<select name="sem" id="sem">
  <option value="first">ONE</option>
  <option value="second">TWO</option>
</select>

<label for="criteria-selection">Choose a criteria:</label>
<select name="criteria" id="criteria">
  <option value="abv-sixty">abv-60%</option>
  <option value="abv-sixty-five">abv-65%</option>
  <option value="abv-seventy">abv-70%</option>
</select>
<label for="criteria-selection">Choose a gender:</label>
<select name="gender" id="gender">
  <option value="male">MALE</option>
  <option value="female">FEMALE</option>
  <option value="undefined">UNDEFINED</option>
</select>
    <table class="content-table" id="myTable">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Regd.No</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Branch</th>
            <th>10th%</th>
            <th>inter/diploma</th>
            <th>B.tech%</th>
            <th>Backlogs</th>
            <th>Mobile</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>19NU1A05A1</td>
            <td>SUDHEER</td>
            <td>Female</td>
            <td>CSE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>2</td>
            <td>19NU1A05A2</td>
            <td>KUMAR</td>
            <td>Male</td>
            <td>CSE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>3</td>
            <td>19NU1A05A3</td>
            <td>CHACHA</td>
            <td>Female</td>
            <td>CSE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>4</td>
            <td>19NU1A05A4</td>
            <td>KIRAN</td>
            <td>Male</td>
            <td>MECH</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>5</td>
            <td>19NU1A0555</td>
            <td>LOL</td>
            <td>Undefined</td>
            <td>ECE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr><tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
        </tbody>
      </table>
      <script>
        var $table = document.getElementById("myTable"),
        // number of rows per page
        $n = 5,
        // number of rows of the table
        $rowCount = $table.rows.length,
        // get the first cell's tag name (in the first row)
        $firstRow = $table.rows[0].firstElementChild.tagName,
        // boolean var to check if table has a head row
        $hasHead = ($firstRow === "TH"),
        // an array to hold each row
        $tr = [],
        // loop counters, to start count from rows[1] (2nd row) if the first row has a head tag
        $i,$ii,$j = ($hasHead)?1:0,
        // holds the first row if it has a (<TH>) & nothing if (<TD>)
        $th = ($hasHead?$table.rows[(0)].outerHTML:"");
        // count the number of pages
        var $pageCount = Math.ceil($rowCount / $n);
        // if we had one page only, then we have nothing to do ..
        if ($pageCount > 1) {
          // assign each row outHTML (tag name & innerHTML) to the array
          for ($i = $j,$ii = 0; $i < $rowCount; $i++, $ii++)
            $tr[$ii] = $table.rows[$i].outerHTML;
          // create a div block to hold the buttons
          $table.insertAdjacentHTML("afterend","<div id='buttons'></div");
          // the first sort, default page is the first one
          sort(1);
        }
        
        // ($p) is the selected page number. it will be generated when a user clicks a button
        function sort($p) {
          /* create ($rows) a variable to hold the group of rows
          ** to be displayed on the selected page,
          ** ($s) the start point .. the first row in each page, Do The Math
          */
          var $rows = $th,$s = (($n * $p)-$n);
          for ($i = $s; $i < ($s+$n) && $i < $tr.length; $i++)
            $rows += $tr[$i];
          
          // now the table has a processed group of rows ..
          $table.innerHTML = $rows;
          // create the pagination buttons
          document.getElementById("buttons").innerHTML = pageButtons($pageCount,$p);
          // CSS Stuff
          document.getElementById("id"+$p).setAttribute("class","active");
        }
        
        
        // ($pCount) : number of pages,($cur) : current page, the selected one ..
        function pageButtons($pCount,$cur) {
          /* this variables will disable the "Prev" button on 1st page
             and "next" button on the last one */
          var	$prevDis = ($cur == 1)?"disabled":"",
            $nextDis = ($cur == $pCount)?"disabled":"",
            /* this ($buttons) will hold every single button needed
            ** it will creates each button and sets the onclick attribute
            ** to the "sort" function with a special ($p) number..
            */
            $buttons = "<input type='button' value='<< Prev' onclick='sort("+($cur - 1)+")' "+$prevDis+">";
          for ($i=1; $i<=$pCount;$i++)
            $buttons += "<input type='button' id='id"+$i+"'value='"+$i+"' onclick='sort("+$i+")'>";
          $buttons += "<input type='button' value='Next >>' onclick='sort("+($cur + 1)+")' "+$nextDis+">";
          return $buttons;
        }
        </script>
</body>
</html>