<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/table.css">
    <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <header class="header">
    <h1 class="logo">Nsrit</h1>

    <div class="header__nav">
        <nav>
            <ul class="icons">
                <li>Hello user</li>
                <li><button>Login</button></li>
                <li><button>Mail logs</button></li>
                <li><button onclick="myFunction()"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><rect fill="none" height="24" width="24"/><path d="M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36c-0.98,1.37-2.58,2.26-4.4,2.26 c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z"/></svg></button></li>
            </ul>
        </nav>
    </div>
</header> 

<label for="year-selection">Choose a year:</label>
<select name="year" id="year">
  <option value="one">1</option>
  <option value="two">2</option>
  <option value="three">3</option>
  <option value="four">4</option>
</select>

<label for="branch-selection">Choose a branch:</label>
<select name="branch" id="branch">
  <option value="cse">CSE</option>
  <option value="ece">ECE</option>
  <option value="eee">EEE</option>
  <option value="mech">MECH</option>
  <option value="civil">CIVIL</option>
</select>

<label for="sem-selection">Choose a sem:</label>
<select name="sem" id="sem">
  <option value="first">ONE</option>
  <option value="second">TWO</option>
</select>

<label for="criteria-selection">Choose a criteria:</label>
<select name="criteria" id="criteria">
  <option value="abv-sixty">abv-60%</option>
  <option value="abv-sixty-five">abv-65%</option>
  <option value="abv-seventy">abv-70%</option>
</select>
<label for="criteria-selection">Choose a gender:</label>
<select name="gender" id="gender">
  <option value="male">MALE</option>
  <option value="female">FEMALE</option>
  <option value="undefined">UNDEFINED</option>
</select>
    <table class="content-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Regd.No</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Branch</th>
            <th>10th%</th>
            <th>inter/diploma</th>
            <th>B.tech%</th>
            <th>Backlogs</th>
            <th>Mobile</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>19NU1A05A1</td>
            <td>SUDHEER</td>
            <td>Female</td>
            <td>CSE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>2</td>
            <td>19NU1A05A2</td>
            <td>KUMAR</td>
            <td>Male</td>
            <td>CSE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>3</td>
            <td>19NU1A05A3</td>
            <td>CHACHA</td>
            <td>Female</td>
            <td>CSE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>4</td>
            <td>19NU1A05A4</td>
            <td>KIRAN</td>
            <td>Male</td>
            <td>MECH</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>5</td>
            <td>19NU1A0555</td>
            <td>LOL</td>
            <td>Undefined</td>
            <td>ECE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
          <tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>90</td>
            <td>80</td>
            <td>80</td>
            <td>0</td>
            <td>0011223366</td>
            <td>sudigalisudheer@gmail.com</td>
          </tr>
        </tbody>
      </table>
      <script>
        function myFunction() {
           var element = document.body;
           element.classList.toggle("dark-mode");
        }
        </script>
</body>
</html>