<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/table.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<label for="year-selection">Choose a year:</label>
<select name="year" id="year">
  <option value="one">1</option>
  <option value="two">2</option>
  <option value="three">3</option>
  <option value="four">4</option>
</select>

<label for="branch-selection">Choose a branch:</label>
<select name="branch" id="branch">
  <option value="cse">CSE</option>
  <option value="ece">ECE</option>
  <option value="eee">EEE</option>
  <option value="mech">MECH</option>
  <option value="civil">CIVIL</option>
</select>

<label for="sem-selection">Choose a sem:</label>
<select name="sem" id="sem">
  <option value="first">ONE</option>
  <option value="second">TWO</option>
</select>

<label for="criteria-selection">Choose a criteria:</label>
<select name="criteria" id="criteria">
  <option value="abv-sixty">abv-60%</option>
  <option value="abv-sixty-five">abv-65%</option>
  <option value="abv-seventy">abv-70%</option>
</select>
<label for="criteria-selection">Choose a gender:</label>
<select name="gender" id="gender">
  <option value="male">MALE</option>
  <option value="female">FEMALE</option>
  <option value="undefined">UNDEFINED</option>
</select>
    <table class="content-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Roll.No</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Branch</th>
            <th>Percentage</th>
            <th>Backlogs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>19NU1A05A1</td>
            <td>SUDHEER</td>
            <td>Female</td>
            <td>CSE</td>
            <td>90</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>19NU1A05A2</td>
            <td>KUMAR</td>
            <td>Male</td>
            <td>CSE</td>
            <td>85</td>
            <td>0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>19NU1A05A3</td>
            <td>CHACHA</td>
            <td>Female</td>
            <td>CSE</td>
            <td>80</td>
            <td>0</td>
          </tr>
          <tr>
            <td>4</td>
            <td>19NU1A05A4</td>
            <td>KIRAN</td>
            <td>Male</td>
            <td>MECH</td>
            <td>80</td>
            <td>1</td>
          </tr>
          <tr>
            <td>5</td>
            <td>19NU1A0555</td>
            <td>LOL</td>
            <td>Undefined</td>
            <td>ECE</td>
            <td>60</td>
            <td>2</td>
          </tr>
          <tr>
            <td>6</td>
            <td>19NU1A0410</td>
            <td>LMAO</td>
            <td>Male</td>
            <td>EEE</td>
            <td>40</td>
            <td>6</td>
          </tr>
        </tbody>
      </table>
</body>
</html>