<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/upload.css">
    <title>Upload</title>
</head>
<body>
    <div class="upload">
    <label for="year-selection">Choose a year:</label>
<select name="year" id="year">
  <option value="one">1</option>
  <option value="two">2</option>
  <option value="three">3</option>
  <option value="four">4</option>
</select>
    <input type="file" class="excel" accept=".xls,.xlsx">
    <button class="button">Upload</button>
    </div>
</body>
</html>